<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISecurityAgent" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60241/SecurityAgent.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISecurityAgent"
                contract="SecurityAgentService.ISecurityAgent" name="BasicHttpBinding_ISecurityAgent" />
        </client>
    </system.serviceModel>
</configuration>