<?xml version="1.0"?>
<AppConfig>
  <Configurations>
    <Host value="yr9xn2nth04YwBHf+QFTsZM9Owp6A80b7YaOr0w4G9n++mc7SssC8pFqPbIeNTovnOrBI9r2kews6MksLnYAx3zcmqhiEqTpiqZ932bqpLOqWQBtnlVJhWTcibqaWsA2"/>
    <Database value="+SsHl4gWiSMgY/4aPEV/L8EMc60d8PHiJbYxKmTc5t53CFPrcdnBIV8bzEcJoJhjrz5fNiBINpAskdkjjqgYfUDmzdoSL6qGTrirpCwbdWutErm+lcznN+n1z321Jtmt"/>
    <DbUsername value="dk1lKZGsd7f7Zxxr4MiUlVbdS0IgbYngxNNqnglqiB1v2kJVO7XPgBbqT1kxGCMEYLD95pxr/d7GJSa/qp8/AmdG+/OZxb/bq6lAJCGLuCNMksX5mS+/qq+ClgaobN+U"/>
    <DbPassword value="2M6a7Ge0DmleeaPsgxB40yGwtPBpRPyed6Qde0T1DHDupbOT49xQs9ghAhPzy81Y00409R4h++SLjaK1sjRnLOzC+lHYIaDAY+ALYAdnpJETrxBB+Oi4wY7SmMveh1On"/>
    <DbPort value="qEl7a7bVU8RDt4bgJoWKFfHck7myIRDyu6RB+pC1/+gIrw4HoAEzlbt55YJhGcvFNWI7fYeTThsrKIii8BBDEs6YFVPJrN6V9jAEVUxVOi/WXvkJx0CFi08VPl32SjPU"/>
    <DbServerType value="MySql"></DbServerType>
    <DbPort value="3306"></DbPort>
    <ApplicationKey value="GXwD6pnDXVR94zVt/wZHYEm3Hm6SyxCVpt+HvM4zGKFC9ejhHmhXCcUGkmfqpjxihbSZNRnX61MOIbqd2G18RtN/S1bnCwVcTwAmEHn/bf8/Xuu+m6qK4BSa6Ml2Tn6g"></ApplicationKey>
  </Configurations>
</AppConfig>
